        <div class="c-opinions u-bg" id="opinionsPage">
			<div itemscope itemtype="http://schema.org/Organization" class="c-logo">
				<a 
                    itemprop="url" 
                    href="https://cutme.pl" 
                    class="c-logo__img js-goto" 
                    title="cutme.pl">
                    <img itemprop="logo" src=<%= require("./img/assets/logo-white.svg") %> width="145" height="28" alt="cutme">    
                </a>
			</div>

			<div class="o-section u-spacebetween js-fullHeight">
				<div class="c-opinions__content">

					<header class="o-header o-header__section js-fadeInChildren">
						<h5 class="o-header__small ">Masz wątpliwości?</h5>
						<h3 class="o-header__medium">Zobacz opinie klientów</h3>
					</header>

					<div class="js-fadeInChildren">
    					<div class="siema" id="opinions">
							<div class="swiper-slide">
								<blockquote>
									<p itemprop="text">cutme impressed us with their efficient and <br>
										professional manner - an approach that not only <br>
										inspired confidence, but generated the results we <br>
										were looking for.</p>
									
									<span>Ahane Kmiecik, Veritas Wave</span>
								</blockquote>
							</div>
							
							<div class="swiper-slide">
								<blockquote>
									<p itemprop="text">
									    Jestem pod wrażeniem profesjonalności – słowność,<br> 
									    terminowość, świetny kontakt i bardzo wysoka jakość kodu.<br> 
									    Mogę śmiało powiedzieć, że&nbsp;to jeden z moich najlepszych współpracowników.</p>
									
									<span>Marcin Kapiński, CEO Inbudo.pl</span>
								</blockquote>
							</div>
							
							<div class="swiper-slide">
								<blockquote>
									<p itemprop="text">
										Bardzo terminowo, sumiennie i&nbsp;rzetelnie.<br> 
										Polecam współpracę z cutme!</p>
									
									<span>Jakub Zajdel, Consulting &amp; More</span>
								</blockquote>
							</div>
							
							<div class="swiper-slide">
								<blockquote>
									<p itemprop="text">
									    Lubię współpracę z cutme, gdyż cechuję ją minimum słów<br> 
									    a maksimum otrzymywanego konkretu</p>
									
									<span>Adam Pioch, Toastmasters International</span>
								</blockquote>
							</div>
							
							<div class="swiper-slide">
								<blockquote>
									<p itemprop="text">
									    Zleciłem pocięcie projektu od grafika do postaci<br> 
									    skórki dla platformy Wordpress. Dostałem działającą skórkę w 3 dni.<br> 
									    Zdecydowanie polecam i&nbsp;zdecydowanie robota warta swojej ceny.</p>
									
									<span>Paweł Jóźwik, traffictrends.pl</span>
								</blockquote>
							</div>
							
							<div class="swiper-slide">
								<blockquote>
									<p itemprop="text">
									    Bardzo dobry kontakt z&nbsp;możliwością dopracowania szczegółów<br> 
									    i wartościowymi sugestiami ze swojej strony.<br> 
									    Dodatkowym atutem jest także przystępna cena i&nbsp;znajomość<br> 
									    najnowszych standardów. Pełne zadowolenie. Polecam.
									</p>
									
									<span>Damian Zbrożek</span>
								</blockquote>
							</div>

					</div>
					</div>
				</div>
				
				<div class="o-wrap o-wrap--normal">
					<div class="c-clients ">
    					<div class="c-clients__item ">
							<img src=<%= require("./img/clients/asap-squirrel.webp") %> alt="asap" width="120">
						</div>

    					
						
						
						
						
						
						<div class="c-clients__item ">
							<img src=<%= require("./img/clients/frogriot.svg") %> alt="frogriot" width="300" height="80">
						</div>
						
						<div class="c-clients__item ">
							<img src=<%= require("./img/clients/logo-gophery.svg") %> alt="gophery" width="120">
						</div>
						
						<div class="c-clients__item ">
							<img src=<%= require("./img/clients/pragmatists.svg") %> alt="pragmatists" width="300" height="80">
						</div>						
						
						<div class="c-clients__item ">
							<img src=<%= require("./img/clients/trec.svg") %> alt="trec" width="300" height="80">
						</div>
						
						<div class="c-clients__item ">
							<img src=<%= require("./img/clients/tt.png") %> alt="tt" width="300" height="80">
						</div>
						
						<div class="c-clients__item ">
							<img src=<%= require("./img/clients/consult.png") %> alt="consult" width="300" height="80">
						</div>
						
						<div class="c-clients__item ">
							<img src=<%= require("./img/clients/petra.png") %> alt="petra" width="300" height="80">
						</div>
						
						<div class="c-clients__item ">
							<img src=<%= require("./img/clients/projekt.svg") %> alt="projekt" width="300" height="80">
						</div>
						
						<div class="c-clients__item ">
							<img src=<%= require("./img/clients/roxx.svg") %> alt="roxx" width="300" height="80">
						</div>
						
						<div class="c-clients__item ">
							<img src=<%= require("./img/clients/extradom.svg") %> alt="extradom" width="300" height="80">
						</div>
					</div>
					
				</div>
			
			</div>
		</div>
