
        <div class="c-portfolio" id="portfolio">
            <div class="o-section o-section--header">
                <header class="o-header o-header--subsite o-header__main u-text-center js-fadeInChildren">
    			    <h2 itemprop="headline" class="o-header__small">Wybrane realizacje</h2>
    				<h3 itemprop="headline" class="o-header__subtitle">Portfolio</h3>
    			</header>
    		</div>

            <div class="c-portfolio__content">
    			<div itemscope itemtype="http://schema.org/WebSite" class="c-portfolio__box c-portfolio__box--21 c-portfolio__box--tall">
    				<a 
    				    itemprop="url" 
    				    href="https://domlux.cutme.pl" 
    				    class="c-portfolio__item c-portfolio__item--narrow" 
    				    target="_blank" 
    				    rel="nofollow noopener noreferrer">
    					
    					<div class="c-portfolio__details">
    						<div class="c-portfolio__line">
                                <span class="c-portfolio__lead c-portfolio__lead--small" itemprop="name">DomLux</span>
                            </div>
                            <div class="c-portfolio__line">
                                <span class="c-portfolio__highlight c-portfolio__highlight--small" itemprop="description">Ekskluzywny towar broni się sam. Dodałem skromną animację dla podniesienia dynamizmu.</span>
                            </div>
    					</div>

    					<div class="c-portfolio__img" itemscope="itemscope" itemtype="http://schema.org/ImageObject">
                            <img itemprop="image" srcset="<%=require("./img/portfolio/domlux.webp")%> 1x, 
    					             <%=require("./img/portfolio/domlux@2x.webp")%> 2x" 
    					             alt="domlux" loading="lazy" width="400" height="480" 
    					             src=<%=require("./img/portfolio/domlux.webp")%> />
    					             
    					</div>
    				</a>
    			</div>
    			<div itemscope itemtype="http://schema.org/WebSite" class="c-portfolio__box c-portfolio__box--20 c-portfolio__box--tall">
    				<a 
    				    itemprop="url" 
    				    href="https://m7h.cutme.pl" 
    				    class="c-portfolio__item c-portfolio__item--narrow" 
    				    target="_blank" 
    				    rel="nofollow noopener noreferrer">
    					
    					<div class="c-portfolio__details">
    						<div class="c-portfolio__line">
                                <span class="c-portfolio__lead c-portfolio__lead--small" itemprop="name">m7h</span>
                            </div>
                            <div class="c-portfolio__line">
                                <span class="c-portfolio__highlight c-portfolio__highlight--small" itemprop="description">Kolejne zlecenie na kodowanie od Jacka Klosińskiego. Jak zawsze, miało być dobrze zoptymalizowane i&nbsp;bez zbędnych bajerów ;)</span>
                            </div>
    					</div>
    					
    					<div class="c-portfolio__img" itemscope="itemscope" itemtype="http://schema.org/ImageObject">
                            <img itemprop="image" srcset="<%=require("./img/portfolio/m7h.webp")%> 1x, 
    					             <%=require("./img/portfolio/m7h@2x.webp")%> 2x" 
    					             alt="m7h" loading="lazy" width="400" height="480" 
    					             src=<%=require("./img/portfolio/m7h.webp")%> />
    					             
    					</div>
    				</a>
    			</div>
    			<div itemscope itemtype="http://schema.org/WebSite" class="c-portfolio__box c-portfolio__box--19 c-portfolio__box--big">
    				<a 
    				    itemprop="url" 
    				    href="https://4pharma.cutme.pl" 
    				    class="c-portfolio__item c-portfolio__item--big" target="_blank" rel="nofollow noopener noreferrer">
    
    					<div class="c-portfolio__details">
    						<div class="c-portfolio__line">
                                <span class="c-portfolio__lead" itemprop="name">4pharma</span>
                            </div>
                            <div class="c-portfolio__line">
                                <span class="c-portfolio__highlight" itemprop="description">Zakodowana w HTML/CSS/JS strategia, komunikacja ze szczyptą animacji.</span>
                            </div>
    					</div>
    					
    					<div class="c-portfolio__img" itemscope="itemscope" itemtype="http://schema.org/ImageObject">
                            <img itemprop="image" srcset="<%=require("./img/portfolio/4pharma.webp")%> 1x, 
    					             <%=require("./img/portfolio/4pharma@2x.webp")%> 2x" 
    					             alt="4pharma" loading="lazy" width="800" height="480" 
    					             src=<%=require("./img/portfolio/4pharma.webp")%> />
    					</div>
    				</a>
    			</div>
    			
                <div itemscope itemtype="http://schema.org/WebSite" class="c-portfolio__box c-portfolio__box--18 c-portfolio__box--big">
    				<a 
    				    itemprop="url" 
    				    href="https://mfd.cutme.pl/" 
    				    class="c-portfolio__item c-portfolio__item--big" target="_blank" rel="nofollow noopener noreferrer">
    
    					<div class="c-portfolio__details">
    						<div class="c-portfolio__line">
                                <span class="c-portfolio__lead" itemprop="name">MFD</span>
                            </div>
                            <div class="c-portfolio__line">
                                <span class="c-portfolio__highlight" itemprop="description">Strona zakodowana tak, by Klient poczuł się wyróżniony na tle konkurencji. Prócz HTML/CSS/JS i&nbsp;animacji, był tutaj robiony CMS w&nbsp;Wordpress.</span>
                            </div>
    					</div>
    					
    					<div class="c-portfolio__img" itemscope="itemscope" itemtype="http://schema.org/ImageObject">
                            <img itemprop="image" srcset="<%=require("./img/portfolio/mfd.webp")%> 1x, 
    					             <%=require("./img/portfolio/mfd@2x.webp")%> 2x" 
    					             alt="mfd" loading="lazy" width="800" height="480" 
    					             src=<%=require("./img/portfolio/mfd.webp")%> />
    					             
    					</div>
    				</a>
    			</div>
    			<div itemscope itemtype="http://schema.org/WebSite" class="c-portfolio__box c-portfolio__box--17 c-portfolio__box--big">
    				<a 
    				    itemprop="url" 
    				    href="https://flowair.cutme.pl/" 
    				    class="c-portfolio__item c-portfolio__item--big" target="_blank" rel="nofollow noopener noreferrer">
    
    					<div class="c-portfolio__details">
    						<div class="c-portfolio__line">
                                <span class="c-portfolio__lead" itemprop="name">FlowAir</span>
                            </div>
                            <div class="c-portfolio__line">
                                <span class="c-portfolio__highlight" itemprop="description">Zadanie polegało na ciekawym przedstawieniu kurtyny powietrznej za&nbsp;pomocą animacji i&nbsp;semantycznego HTML/CSS/JS. Mamy tu filmy poklatkowe, parallax i&nbsp;dedykowany skrypt galerii.</span>
                            </div>
    					</div>
    					
    					<div class="c-portfolio__img" itemscope="itemscope" itemtype="http://schema.org/ImageObject">
                            <img itemprop="image" srcset="<%=require("./img/portfolio/flowair.webp")%> 1x, 
    					             <%=require("./img/portfolio/flowair@2x.webp")%> 2x" 
    					             alt="flowair" loading="lazy" width="800" height="480" 
    					             src=<%=require("./img/portfolio/flowair.webp")%> />
    					             
    					</div>
    				</a>
    			</div>
                <div itemscope itemtype="http://schema.org/WebSite" class="c-portfolio__box c-portfolio__box--16 c-portfolio__box--tall">
    				<a 
    				    itemprop="url" 
    				    href="https://karlex.cutme.pl" 
    				    class="c-portfolio__item c-portfolio__item--narrow" 
    				    target="_blank" 
    				    rel="nofollow noopener noreferrer">
    					
    					<div class="c-portfolio__details">
    						<div class="c-portfolio__line">
                                <span class="c-portfolio__lead c-portfolio__lead--small" itemprop="name">Karlex</span>
                            </div>
                            <div class="c-portfolio__line">
                                <span class="c-portfolio__highlight c-portfolio__highlight--small" itemprop="description">Choć strona zakodowana już dość dawno temu, wciąż cieszy oko prostotą i&nbsp;dynamicznymi wstawkami. Zakodowane do HTML/CSS/JS ze szczyptą animacji.</span>
                            </div>
    					</div>
    					
    					<div class="c-portfolio__img" itemscope="itemscope" itemtype="http://schema.org/ImageObject">
                            <img itemprop="image" srcset="<%=require("./img/portfolio/kar.webp")%> 1x, 
    					             <%=require("./img/portfolio/kar@2x.webp")%> 2x" 
    					             alt="Karlex" loading="lazy" width="400" height="480" 
    					             src=<%=require("./img/portfolio/kar.webp")%> />
    					</div>
    				</a>
    			</div>
                
    			<div itemscope itemtype="http://schema.org/WebSite" class="c-portfolio__box c-portfolio__box--15 c-portfolio__box--big">
    				<a 
    				    itemprop="url" 
    				    href="https://leasingujesz.cutme.pl/1.0-index.html" 
    				    class="c-portfolio__item c-portfolio__item--big" target="_blank" rel="nofollow noopener noreferrer">
    
    					<div class="c-portfolio__details">
    						<div class="c-portfolio__line">
                                <span class="c-portfolio__lead" itemprop="name">Leasingujesz</span>
                            </div>
                            <div class="c-portfolio__line">
                                <span class="c-portfolio__highlight" itemprop="description">Klient mile zaskoczony efektem końcowym zakodowania projektu. Zachowany bilans między szybkim ładowaniem a&nbsp;dużą dawką zdjęć i&nbsp;animacji.</span>
                            </div>
    					</div>
    					
    					<div class="c-portfolio__img" itemscope="itemscope" itemtype="http://schema.org/ImageObject">
                            <img itemprop="image" srcset="<%=require("./img/portfolio/lea.webp")%> 1x, 
    					             <%=require("./img/portfolio/lea@2x.webp")%> 2x" 
    					             alt="Leasingujesz" loading="lazy" width="800" height="480" 
    					             src=<%=require("./img/portfolio/lea.webp")%> />
    					</div>
    				</a>
    			</div>
    			<div itemscope itemtype="http://schema.org/WebSite" class="c-portfolio__box c-portfolio__box--14 c-portfolio__box--tall">
    				<a 
    				    itemprop="url" 
    				    href="http://ftfund.cutme.pl/" 
    				    class="c-portfolio__item c-portfolio__item--narrow" 
    				    target="_blank" 
    				    rel="nofollow noopener noreferrer">
    					
    					<div class="c-portfolio__details">
    						<div class="c-portfolio__line">
                                <span class="c-portfolio__lead c-portfolio__lead--small" itemprop="name">FT Fund</span>
                            </div>
                            <div class="c-portfolio__line">
                                <span class="c-portfolio__highlight c-portfolio__highlight--small" itemprop="description">Zakodowanie oraz  Wordpress małego landpage dla Klienta biznesowego.</span>
                            </div>
    					</div>
    					
    					<div class="c-portfolio__img" itemscope="itemscope" itemtype="http://schema.org/ImageObject">
                            <img itemprop="image" srcset="<%=require("./img/portfolio/ftf.webp")%> 1x, 
					             <%=require("./img/portfolio/ftf@2x.webp")%> 2x" 
					             alt="FT Fund" loading="lazy" width="400" height="480" 
					             src=<%=require("./img/portfolio/ftf.webp")%> />
    					</div>
    				</a>
    			</div>
                <div itemscope itemtype="http://schema.org/WebSite" class="c-portfolio__box c-portfolio__box--13 c-portfolio__box--big">
    				<a 
    				    itemprop="url" 
    				    href="https://cutme.github.io/bikeme/dist/" 
    				    class="c-portfolio__item c-portfolio__item--big" 
    				    target="_blank" 
    				    rel="nofollow noopener">
    
    					<div class="c-portfolio__details">
                            <div class="c-portfolio__line">
                                <span class="c-portfolio__lead" itemprop="name">BikeMe</span>
                            </div>
                            <div class="c-portfolio__line">
                                <span class="c-portfolio__highlight" itemprop="description">Zakodowanie tego projektu to była przyjemność, a&nbsp;efekt końcowy w&nbsp;czystym HTML/JS/CSS uwieńczone dodatkowym zleceniem na wdrożenie do Wordpress.</span>
                            </div>
    
    					</div>
    
    					<div class="c-portfolio__img" itemscope="itemscope" itemtype="http://schema.org/ImageObject">
                            <img itemprop="image" srcset="<%=require("./img/portfolio/bik.webp")%> 1x, 
					             <%=require("./img/portfolio/bik@2x.webp")%> 2x" 
					             alt="BikeMe" loading="lazy" width="800" height="480" 
					             src=<%=require("./img/portfolio/bik.webp")%> />
    					</div>
    				</a>
    			</div>
                
                <div itemscope itemtype="http://schema.org/WebSite" class="c-portfolio__box c-portfolio__box--12 c-portfolio__box--big">
    				<a 
    				    itemprop="url" 
    				    href="https://klosinski.net/metodateczowki/" 
    				    class="c-portfolio__item c-portfolio__item--big" 
    				    target="_blank" 
    				    rel="nofollow noopener">
    
    					<div class="c-portfolio__details">
                            <div class="c-portfolio__line">
                                <span class="c-portfolio__lead" itemprop="name">Metoda Tęczówki</span>
                            </div>
                            <div class="c-portfolio__line">
                                <span class="c-portfolio__highlight" itemprop="description">Projekt Wojtka Obuchowicza i&nbsp;mój kod HTML/JS/CSS z&nbsp;dynamicznymi wstawkami został wyróżniony przez CSS AWARDS.</span>
                            </div>
    					</div>
    
    					<div class="c-portfolio__img" itemscope="itemscope" itemtype="http://schema.org/ImageObject">
                            <img itemprop="image" srcset="<%=require("./img/portfolio/met.webp")%> 1x, 
					             <%=require("./img/portfolio/met@2x.webp")%> 2x" 
					             alt="Metoda Tęczówki" loading="lazy" width="800" height="480" 
					             src=<%=require("./img/portfolio/met.webp")%> />
    					</div>
    				</a>
    			</div>
                <div itemscope itemtype="http://schema.org/WebSite" class="c-portfolio__box c-portfolio__box--11">
    				<a 
    				    itemscope itemtype="http://schema.org/WebSite" 
    				    href="http://ltl.cutme.pl" 
    				    class="c-portfolio__item c-portfolio__item--small" 
    				    target="_blank" rel="nofollow noopener">
    
    					<div class="c-portfolio__details">
    						<div class="c-portfolio__line">
                                <span class="c-portfolio__lead c-portfolio__lead--small" itemprop="name">LTL</span>
                            </div>
                            <div class="c-portfolio__line">
                                <span class="c-portfolio__highlight c-portfolio__highlight--small" itemprop="description">Pocięcie do HTML projektu firmy logistycznej wraz z&nbsp;wdrożeniem do&nbsp;Wordpress.</span>
                            </div>
    					</div>
    					
    					<div class="c-portfolio__img" itemscope="itemscope" itemtype="http://schema.org/ImageObject">
                            <img itemprop="image" srcset="<%=require("./img/portfolio/ltl.webp")%> 1x, 
					             <%=require("./img/portfolio/ltl@2x.webp")%> 2x" 
					             alt="Projekt LTL" class="small" loading="lazy" width="480" height="240" 
					             src=<%=require("./img/portfolio/ltl.webp")%> />
    					</div>
    				</a>

    				<a 
    				    itemscope itemtype="http://schema.org/WebSite" 
    				    href="http://bio.cutme.pl/" 
    				    class="c-portfolio__item c-portfolio__item--small" 
    				    target="_blank" rel="nofollow noopener">
    
    					<div class="c-portfolio__details">
    						<div class="c-portfolio__line">
                                <span class="c-portfolio__lead c-portfolio__lead--small" itemprop="name">Biobank</span>
                            </div>
                            <div class="c-portfolio__line">
                                <span class="c-portfolio__highlight c-portfolio__highlight--small" itemprop="description">Dość stare wdrożenie do HTML/CSS/JS, ale zawiera kilka ciekawych rozwiązań.</span>
                            </div>
    					</div>
    					
    					<div class="c-portfolio__img" itemscope="itemscope" itemtype="http://schema.org/ImageObject">
                            <img itemprop="image" srcset="<%=require("./img/portfolio/bio.webp")%> 1x, 
					             <%=require("./img/portfolio/bio@2x.webp")%> 2x" 
					             alt="Biobank" class="small" loading="lazy" width="480" height="240" 
					             src=<%=require("./img/portfolio/bio.webp")%> />
    					</div>
    				</a>
    			</div>
    			<div itemscope itemtype="http://schema.org/WebSite" class="c-portfolio__box c-portfolio__box--10 c-portfolio__box--big">
    				<a 
    				    itemprop="url" 
    				    href="https://nts.klosinski.net" 
    				    class="c-portfolio__item c-portfolio__item--big" target="_blank" rel="nofollow noopener noreferrer">
    
    					<div class="c-portfolio__details">
    						<div class="c-portfolio__line">
                                <span class="c-portfolio__lead" itemprop="name">NTS</span>
                            </div>
                            <div class="c-portfolio__line">
                                <span class="c-portfolio__highlight" itemprop="description">Zlecenie od Jacka Klosińkiego na zakodowanie do HTML/CSS/JS projektu, który wprowadzał na rynek "Notesy, które zamieniają
plan w działanie".</span>
                            </div>
    					</div>
    					
    					<div class="c-portfolio__img" itemscope="itemscope" itemtype="http://schema.org/ImageObject">
                            <img itemprop="image" srcset="<%=require("./img/portfolio/nts.webp")%> 1x, 
					             <%=require("./img/portfolio/nts@2x.webp")%> 2x" 
					             alt="NTS" loading="lazy" width="800" height="480" 
					             src=<%=require("./img/portfolio/nts.webp")%> />
    					</div>
    				</a>
    			</div>
    			
    			<div itemscope itemtype="http://schema.org/WebSite" class="c-portfolio__box c-portfolio__box--09 c-portfolio__box--tall">
    				<a 
    				    itemprop="url" 
    				    href="https://126.cutme.pl/" 
    				    class="c-portfolio__item c-portfolio__item--narrow" 
    				    target="_blank" 
    				    rel="nofollow noopener noreferrer">
    					
    					<div class="c-portfolio__details">
    						<div class="c-portfolio__line">
                                <span class="c-portfolio__lead c-portfolio__lead--small" itemprop="name">126 marek</span>
                            </div>
                            <div class="c-portfolio__line">
                                <span class="c-portfolio__highlight c-portfolio__highlight--small" itemprop="description">Pocięcie do HTML/CSS/JS tego nostalgicznego projektu pozytywnie zaskoczyło grono odbiorców :)</span>
                            </div>
    					</div>
    					
    					<div class="c-portfolio__img" itemscope="itemscope" itemtype="http://schema.org/ImageObject">
    				        <img itemprop="image" srcset="<%=require("./img/portfolio/126.webp")%> 1x, 
					             <%=require("./img/portfolio/126@2x.webp")%> 2x" 
					             alt="126" loading="lazy" width="400" height="480" 
					             src=<%=require("./img/portfolio/126.webp")%> />
    					</div>
    				</a>
    			</div>
                <div itemscope itemtype="http://schema.org/WebSite" class="c-portfolio__box c-portfolio__box--08 c-portfolio__box--big">
    				<a 
    				    itemprop="url" 
    				    href="https://cutme.github.io/quar/dist/" 
    				    class="c-portfolio__item c-portfolio__item--big" 
    				    target="_blank" 
    				    rel="nofollow noopener">
    
    					<div class="c-portfolio__details">
                            <div class="c-portfolio__line">
                                <span class="c-portfolio__lead" itemprop="name">Quar</span>
                            </div>
                            <div class="c-portfolio__line">
                                <span class="c-portfolio__highlight" itemprop="description">Pocięcie do HTML/JS/CSS portfolio dla grafika, zlecenie obejmowało również wdrożenie do CMS.</span>
                            </div>
    					</div>
    
    					<div class="c-portfolio__img" itemscope="itemscope" itemtype="http://schema.org/ImageObject">
                            <img itemprop="image" srcset="<%=require("./img/portfolio/qua.webp")%> 1x, 
					             <%=require("./img/portfolio/qua@2x.webp")%> 2x" 
					             alt="Polentex" loading="lazy" width="800" height="480" 
					             src=<%=require("./img/portfolio/qua.webp")%> />
    					</div>
    				</a>
    			</div>
                <div itemscope itemtype="http://schema.org/WebSite" class="c-portfolio__box c-portfolio__box--07 c-portfolio__box--big">
    				<a 
    				    itemprop="url" 
    				    href="https://brandhub.cutme.pl/" 
    				    class="c-portfolio__item c-portfolio__item--big" 
    				    target="_blank" 
    				    rel="nofollow noopener">
    
    					<div class="c-portfolio__details">
                            <div class="c-portfolio__line">
                                <span class="c-portfolio__lead" itemprop="name">BrandHub</span>
                            </div>
                            <div class="c-portfolio__line">
                                <span class="c-portfolio__highlight" itemprop="description">Zleceniodawca dał tu wolną rękę na sposób prezentacji treści. Zakodowanie w&nbsp;HTML/JS/CSS z&nbsp;użyciem GSAP.</span>
                            </div>
    
    					</div>
    
    					<div class="c-portfolio__img" itemscope="itemscope" itemtype="http://schema.org/ImageObject">
                            <img itemprop="image" srcset="<%=require("./img/portfolio/brandhub.webp")%> 1x, 
					             <%=require("./img/portfolio/brandhub@2x.webp")%> 2x" 
					             alt="BrandHub" loading="lazy" width="800" height="480" 
					             src=<%=require("./img/portfolio/brandhub.webp")%> />
    					</div>
    				</a>
    			</div>
                
                <div itemscope itemtype="http://schema.org/WebSite" class="c-portfolio__box c-portfolio__box--06 c-portfolio__box--big">
    				<a 
    				    itemprop="url" 
    				    href="https://cutme.github.io/polentex/web/" 
    				    class="c-portfolio__item c-portfolio__item--big" 
    				    target="_blank" 
    				    rel="nofollow noopener">
    
    					<div class="c-portfolio__details">
                            <div class="c-portfolio__line">
                                <span class="c-portfolio__lead" itemprop="name">Polentex</span>
                            </div>
                            <div class="c-portfolio__line">
                                <span class="c-portfolio__highlight" itemprop="description">Kodowanie choć już dość wiekowe, to nadal cieszy oko delikatnymi animacjami i&nbsp;prostotą w&nbsp;prezentacji treści. Projekt był również wdrożany do Wordpress</span>
                            </div>
    
    					</div>
    
    					<div class="c-portfolio__img" itemscope="itemscope" itemtype="http://schema.org/ImageObject">
                            <img itemprop="image" srcset="<%=require("./img/portfolio/pol.webp")%> 1x, 
					             <%=require("./img/portfolio/pol@2x.webp")%> 2x" 
					             alt="Polentex" loading="lazy" width="800" height="480" 
					             src=<%=require("./img/portfolio/pol.webp")%> />
    					</div>
    				</a>
    			</div>
    			<div itemscope itemtype="http://schema.org/WebSite" class="c-portfolio__box c-portfolio__box--05 c-portfolio__box--tall">
    				<a 
    				    itemprop="url" 
    				    href="http://florianmalak.com" 
    				    class="c-portfolio__item c-portfolio__item--narrow" 
    				    target="_blank" 
    				    rel="nofollow noopener">
    
    					<div class="c-portfolio__details">
    						<div class="c-portfolio__line">
                                <span class="c-portfolio__lead" itemprop="name">Malak</span>
                            </div>
                            <div class="c-portfolio__line">
                                <span class="c-portfolio__highlight c-portfolio__highlight--small" itemprop="description">Zadanie polegało na zakodowaniu portfolio artysty od filmów komercyjnych. Zamieszczone na Vimeo filmy zaciągane w&nbsp;nowej formie i&nbsp;zarządzane przez CMS.</span>
                            </div>
    					</div>
    					
    					<div class="c-portfolio__img" itemscope="itemscope" itemtype="http://schema.org/ImageObject">
                            <img itemprop="image" srcset="<%=require("./img/portfolio/flo.webp")%> 1x, 
					             <%=require("./img/portfolio/flo@2x.webp")%> 2x" 
					             alt="Malak" loading="lazy" width="400" height="480" 
					             src=<%=require("./img/portfolio/flo.webp")%> />
    					</div>
    				</a>
    			</div>
    			<div itemscope itemtype="http://schema.org/WebSite" class="c-portfolio__box c-portfolio__box--04">
    				<a 
    				    itemscope itemtype="http://schema.org/WebSite" 
    				    href="https://cutme.github.io/storyfactory2/web/" 
    				    class="c-portfolio__item c-portfolio__item--small" target="_blank" rel="nofollow noopener">
    					
    					<div class="c-portfolio__details">
    						<div class="c-portfolio__line">
                                <span class="c-portfolio__lead c-portfolio__lead--small" itemprop="name">StoryFactory</span>
                            </div>
                            <div class="c-portfolio__line">
                                <span class="c-portfolio__highlight c-portfolio__highlight--small" itemprop="description">Pocięcie do HTML/CSS/JS jednego z&nbsp;pierwszych projektów od grupy TrafficTrends.</span>
                            </div>
    					</div>
    					
    					<div class="c-portfolio__img" itemscope="itemscope" itemtype="http://schema.org/ImageObject">
                            <img itemprop="image" srcset="<%=require("./img/portfolio/sto.webp")%> 1x, 
					             <%=require("./img/portfolio/sto@2x.webp")%> 2x" 
					             alt="Story Factory" class="small" loading="lazy" width="400" height="240" 
					             src=<%=require("./img/portfolio/sto.webp")%> />
    					</div>
    				</a>
    
    				<a 
    				    itemscope itemtype="http://schema.org/WebSite" 
    				    href="https://cutme.github.io/traffictrends/" 
    				    class="c-portfolio__item c-portfolio__item--small" target="_blank" rel="nofollow noopener">
    					
    					<div class="c-portfolio__details">
    						<div class="c-portfolio__line">
                                <span class="c-portfolio__lead c-portfolio__lead--small" itemprop="name">TrafficTrends</span>
                            </div>
                            <div class="c-portfolio__line">
                                <span class="c-portfolio__highlight c-portfolio__highlight--small" itemprop="description">Pierwsza wersja strony firmowej z&nbsp;2018 roku, zakodowana do semantycznego HTML5.</span>
                            </div>
    					</div>
    					
    					<div class="c-portfolio__img" itemscope="itemscope" itemtype="http://schema.org/ImageObject">
                            <img itemprop="image" srcset="<%=require("./img/portfolio/tra.webp")%> 1x, 
					             <%=require("./img/portfolio/tra@2x.webp")%> 2x" 
					             alt="TrafficTrends" loading="lazy" width="400" height="240" 
					             src=<%=require("./img/portfolio/tra.webp")%> />
    					</div>
    				</a>
    			</div>
    			
<!--
    			<div itemscope itemtype="http://schema.org/WebSite" class="c-portfolio__box c-portfolio__box--03 c-portfolio__box--order">
    				<a 
    				    itemscope itemtype="http://schema.org/WebSite" 
    				    href="https://cutme.github.io/projektpr/" 
    				    class="c-portfolio__item c-portfolio__item--small" 
    				    target="_blank" rel="nofollow noopener">
    
    					<div class="c-portfolio__details">
    						<div class="c-portfolio__line">
                                <span class="c-portfolio__lead c-portfolio__lead--small" itemprop="name">ProjektPR</span>
                            </div>
                            <div class="c-portfolio__line">
                                <span class="c-portfolio__highlight c-portfolio__highlight--small" itemprop="description">Zakododwanie do HTML</span>
                            </div>
    					</div>
    					
    					<div class="c-portfolio__img" itemscope="itemscope" itemtype="http://schema.org/ImageObject">
                            <img itemprop="image" srcset="<%=require("./img/portfolio/pro.webp")%> 1x, 
					             <%=require("./img/portfolio/pro@2x.webp")%> 2x" 
					             alt="Projekt PR" class="small" loading="lazy" width="400" height="240" 
					             src=<%=require("./img/portfolio/pro.webp")%> />
    					</div>
    				</a>
    			
    				<a 
    				    itemscope itemtype="http://schema.org/WebSite" 
    				    href="http://kiribaticlub.pl/" 
    				    class="c-portfolio__item c-portfolio__item--small" 
    				    target="_blank" rel="nofollow noopener">
    
    					<div class="c-portfolio__details">
    						<div class="c-portfolio__line">
                                <span class="c-portfolio__lead c-portfolio__lead--small" itemprop="name">Kiribati</span>
                            </div>
                            <div class="c-portfolio__line">
                                <span class="c-portfolio__highlight c-portfolio__highlight--small" itemprop="description">Pocięcie do HTML</span>
                            </div>
    					</div>
    					
    					<div class="c-portfolio__img" itemscope="itemscope" itemtype="http://schema.org/ImageObject">
                            <img itemprop="image" srcset="<%=require("./img/portfolio/kir.webp")%> 1x, 
					             <%=require("./img/portfolio/kir@2x.webp")%> 2x" 
					             alt="Kiribati" loading="lazy" width="400" height="240" 
					             src=<%=require("./img/portfolio/kir.webp")%> />
    					</div>
    				</a>
    			</div>
    			<div itemscope itemtype="http://schema.org/WebSite" class="c-portfolio__box c-portfolio__box--02 c-portfolio__box--big">
    				<a 
    				    itemprop="url" 
    				    href="https://cutme.github.io/tedx/" 
    				    class="c-portfolio__item c-portfolio__item--big" target="_blank" rel="nofollow noopener">
    
    					<div class="c-portfolio__details">
    						<div class="c-portfolio__line">
                                <span class="c-portfolio__lead" itemprop="name">TEDx</span>
                            </div>
                            <div class="c-portfolio__line">
                                <span class="c-portfolio__highlight" itemprop="description">Pocięcie do HTML</span>
                            </div>
    					</div>
    					
    					<div class="c-portfolio__img" itemscope="itemscope" itemtype="http://schema.org/ImageObject">
                            <img itemprop="image" srcset="<%=require("./img/portfolio/ted.webp")%> 1x, 
					             <%=require("./img/portfolio/ted@2x.webp")%> 2x" 
					             alt="tedx" loading="lazy" width="800" height="480" 
					             src=<%=require("./img/portfolio/ted.webp")%> />
    					</div>
    				</a>
    			</div>
    			<div itemscope itemtype="http://schema.org/WebSite" class="c-portfolio__box c-portfolio__box--01 c-portfolio__box--tall">
    				<a 
    				    itemprop="url" 
    				    href="https://cutme.github.io/converse" 
    				    class="c-portfolio__item c-portfolio__item--narrow" 
    				    target="_blank" 
    				    rel="nofollow noopener">
    					
    					<div class="c-portfolio__details">
    						<div class="c-portfolio__line">
                                <span class="c-portfolio__lead c-portfolio__lead--small" itemprop="name">Converse</span>
                            </div>
                            <div class="c-portfolio__line">
                                <span class="c-portfolio__highlight c-portfolio__highlight--small" itemprop="description">Pocięcie do HTML</span>
                            </div>
    					</div>
    					
    					<div class="c-portfolio__img" itemscope="itemscope" itemtype="http://schema.org/ImageObject">
                            <img itemprop="image" srcset="<%=require("./img/portfolio/con.webp")%> 1x, 
					             <%=require("./img/portfolio/con@2x.webp")%> 2x" 
					             alt="Converse" loading="lazy" width="400" height="480" 
					             src=<%=require("./img/portfolio/con.webp")%> />
    					</div>
    				</a>
    			</div>
-->
            </div>
		</div>
