<section class="c-portfolio__item c-portfolio__item--double c-portfolio__item--narrow c-portfolio__item--04">
	<a href="https://cutme.github.io/storyfactory2/web/" target="_blank" itemprop="url" rel="nofollow noopener">
		<article itemscope itemtype="https://schema.org/Project">
            <h3 itemprop="name">StoryFactory</h3>
            <p itemprop="description">Pocięcie do HTML/CSS/JS jednego z&nbsp;pierwszych projektów od grupy TrafficTrends.</p>
            <button class="o-btn o-btn--primary o-btn--small">Zobacz online</button>
		</article>
        <img itemprop="image" srcset="<%=require("./img/portfolio/sto.webp")%> 1x, 
    					              <%=require("./img/portfolio/sto@2x.webp")%> 2x" 
    					              alt="Story Factory" class="small" loading="lazy" width="400" height="240" 
    					              src=<%=require("./img/portfolio/sto.webp")%> />
	</a>
	<a href="https://cutme.github.io/traffictrends/" target="_blank" itemprop="url" rel="nofollow noopener">
		<article itemscope itemtype="https://schema.org/Project">
            <h3 itemprop="name">TrafficTrends</h3>
            <p itemprop="description">Pierwsza wersja strony firmowej z&nbsp;2018 roku, zakodowana do semantycznego HTML5.</p>
            <button class="o-btn o-btn--primary o-btn--small">Zobacz online</button>
		</article>
        <img itemprop="image" srcset="<%=require("./img/portfolio/tra.webp")%> 1x, 
    					              <%=require("./img/portfolio/tra@2x.webp")%> 2x" 
    					              alt="TrafficTrends" loading="lazy" width="400" height="240" 
    					              src=<%=require("./img/portfolio/tra.webp")%> />
	</a>
</section>