<section class="c-portfolio__item c-portfolio__item--double c-portfolio__item--narrow c-portfolio__item--11">
	<a href="http://ltl.cutme.pl" target="_blank" itemprop="url" rel="nofollow noopener">
		<article itemscope itemtype="https://schema.org/Project">
            <h3 itemprop="name">LTL</h3>
            <p itemprop="description" class="~text-sm/base"><strong>Pocięcie projektu graficznego</strong> oraz &nbsp;<strong>wdrożenie do&nbsp;Wordpress</strong>.</p>
            <button class="o-btn o-btn--primary o-btn--small">Zobacz online</button>
		</article>
		<picture class="relative">
            <img itemprop="image" srcset="<%=require("./img/portfolio/ltl.webp")%> 1x, 
            				              <%=require("./img/portfolio/ltl@2x.webp")%> 2x" 
            				              alt="Projekt LTL" class="small" loading="lazy" width="480" height="240" 
            				              src=<%=require("./img/portfolio/ltl.webp")%> />
        </picture>
	</a>
	<a href="http://bio.cutme.pl" target="_blank" itemprop="url" rel="nofollow noopener">
		<article itemscope itemtype="https://schema.org/Project">
            <h3 itemprop="name">Biobank</h3>
            <p itemprop="description" class="~text-sm/base"><strong>Zakodowanie szablonów HTML</strong>, animacje.</p>
            <button class="o-btn o-btn--primary o-btn--small">Zobacz online</button>
		</article>
		<picture class="relative">
            <img itemprop="image" srcset="<%=require("./img/portfolio/bio.webp")%> 1x, 
        					              <%=require("./img/portfolio/bio@2x.webp")%> 2x" 
        					              alt="Biobank" class="small" loading="lazy" width="480" height="240" 
        					              src=<%=require("./img/portfolio/bio.webp")%> />
        </picture>
	</a>
</section>